<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  IgnorableNamespaces="uap rescap">

  <Identity
    Name="0576840d-b07a-40f3-b326-301ae3faf3f5"
    Publisher="CN=alzollin"
    Version="1.0.0.0" />

  <mp:PhoneIdentity PhoneProductId="0576840d-b07a-40f3-b326-301ae3faf3f5" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>AIDevGallery.Tests</DisplayName>
    <PublisherDisplayName>alzollin</PublisherDisplayName>
    <Logo>Assets\AppIcon\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="$targetentrypoint$">
      <uap:VisualElements
        DisplayName="AIDevGallery.Tests"
        Description="AIDevGallery.Tests"
        BackgroundColor="transparent"
        Square150x150Logo="Assets\AppIcon\MedTile.png"
        Square44x44Logo="Assets\AppIcon\SmallTile.png">
        <uap:DefaultTile Wide310x150Logo="Assets\AppIcon\WideTile.png" />
        <uap:SplashScreen Image="Assets\AppIcon\SplashScreen.png" />
      </uap:VisualElements>
    </Application>
  </Applications>

  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
  </Capabilities>
</Package>
